.root{
    -fx-font-family: "System";
    -fx-background-color: "#3a3a3a"
}

.VBox{
    -fx-background-color: "#DEB164";
}

.button{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-background-radius: 2em;
}

.button:hover{
    -fx-cursor: hand;
    -fx-background-color: "#F7C56F";
}

.fondo{
    -fx-background-image: url("../img/fondoLogin.jpg");
}

.login-pane{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-background-radius: 3.5em;
}

.button-entrar{
    -fx-background-color: "#DEB164";
    -fx-background-radius: 2em;
}

.button-alta{
    -fx-background-color: "#3a3a3a";
    -fx-background-radius: 2em;
    -fx-text-fill: "#DEB164";
}

.text-field{
    -fx-text-inner-color: "#3a3a3a";
    -jfx-focus-color: "#A6844B";
    -jfx-unfocus-color: "#3a3a3a";
}

.recargar:hover{
    -fx-cursor: hand;
}

/* Pane basico */
.pane{
    -fx-background-color : "#DEB164";
    -fx-background-radius: 1.5em;
}

/* Para el tableview */
.table-view {
    -fx-table-color: rgba(247, 170, 62, 0.4);
    -fx-table-rippler-color: rgba(247, 170, 62, 0.6);
    -fx-background-color:  transparent;
    -fx-padding: 0 10 0 10;
}

.table-view:focused .table-row-cell:selected{
    -fx-background-color: rgba(0, 0, 0, 0.1);
    -fx-text-fill: BLACK;
}

.table-row-cell{
    -fx-background-color:  rgba(247, 170, 62, 0.4);
}

.table-row-cell:odd{
    -fx-background-color:  rgba(247, 170, 62, 0.3);
}

.table-view:focused .table-row-cell:selected .table-cell {
    -fx-text-fill: BLACK;
}

.table-view .column-header,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: rgba(0, 0, 0, 0.1);;
}

.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-padding: 16 0 16 0;
}

.table-view .column-header .arrow, .table-view .column-header .sort-order-dot {
    -fx-background-color: black;
}

.column-header {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.table-view .table-cell {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 16 0 16 0;
    -fx-alignment: top-center;
}

.table-view .column-overlay {
    -fx-background-color: -fx-table-color;
}

.table-view .column-resize-line, .table-view .column-drag-header {
    -fx-background-color: -fx-table-rippler-color;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-row-cell > .disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em;
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}

.table-row-cell .jfx-text-field {
    -fx-focus-color: rgb(82, 100, 174);
}

.table-view .menu-item:focused {
    -fx-background-color: rgba(0, 0, 0, 0.1);

}

.table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

/*Combo box*/
.combo-box .list-cell
{
    -fx-background: "#DEB164";
    -fx-background-color: "#DEB164";
    -fx-text-fill: "#3a3a3a";
    -fx-border-width: 0 0 0 0;
    -fx-border-color: "#DEB164";
    -fx-font-size: 15px;
}

/*Date picker*/
.date-picker{
    -fx-font-size: 15px;
}

/*Text Area*/
.text-area{
    -fx-text-inner-color: "#3a3a3a";
    -jfx-focus-color: "#A6844B";
    -jfx-unfocus-color: "#3a3a3a";
}